UPLOADTHING_TOKEN=eyJhcGlLZXkiOiJza19saXZlXzI3MGY0OWFhZTAwMThlMzNlOTMxNDA3ODZlZDc4NGViY2U1YWRjYmM3YWYxYjU2YmM1YTJkNTY0OTNmNzZiMDMiLCJhcHBJZCI6ImZvZ2ZmbDk4bHQiLCJyZWdpb25zIjpbInNlYTEiXX0=
FIREBASE_API_KEY=AIzaSyC5r-ruGHi7zY1ck_1EBUeQZtlbWxJfA7g
